$c-gray: #eee;

$tablet-min-width: 481px;
$desktop-min-width: 770px;

$main-tittle-color: #1C1B29;
$main-text-color: #504F5E;
$text-color-on-black: #F1F5F4;
$dark-background: #3F5252;
$light-background: #F1F5F4;
$red-text: #CD4D31;
$button-color: #CD4D31;
